//variables
:root {
  --color-very-dark-gray: hsl(0, 0%, 17%);
  --color-dark-gray: hsl(0, 0%, 59%);
  --color-light-gray: hsla(0, 0%, 59%, 0.438);
  --color-white: #fff;
  --color-error: rgb(170, 52, 32);
  --color-error-light: rgb(255, 201, 192);
}

//mixins
@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media (max-width: 67.75em) {
      @content;
    }
  }

  @if $breakpoint == tablet-medium {
    @media (max-width: 53.63em) {
      @content;
    }
  }

  @if $breakpoint == tablet-small {
    @media (max-width: 38.31em) {
      @content;
    }
  }

  @if $breakpoint == phone {
    @media (max-width: 34.56em) {
      @content;
    }
  }
}

//utility classes
.error-theme {
  background-color: var(--color-error-light);

  &::placeholder {
    color: var(--color-error);
  }
}
